@* @model IEnumerable<Project3.Models.Estimate>

@{
    ViewData["Title"] = "Estimates";
    Layout = "~/Views/LayoutUser/LayoutUser.cshtml";
}

<h1>Estimates</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Estimate</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Vehicle Name</th>
            <th>Vehicle Model</th>
            <th>Vehicle Version</th>
            <th>Vehicle Rate</th>
            <th>Estimated Cost</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estimate in Model)
        {
            <tr>
                <td>@estimate.VehicleName</td>
                <td>@estimate.VehicleModel</td>
                <td>@estimate.VehicleVersion</td>
                <td>@estimate.VehicleRate</td>
                <td>@estimate.EstimatedCost</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@estimate.Id" class="btn btn-secondary">Edit</a>
                    <a asp-action="Details" asp-route-id="@estimate.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@estimate.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
 *@