@model Project3.Models.CompanyBillingPolicy

@{
    ViewData["Title"] = "Delete Billing Policy";
    Layout = "~/Areas/System/Views/Layout/LayoutAdmin.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-danger text-white">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to delete this billing policy?</p>
                    <dl class="row">
                        <dt class="col-sm-4">Customer Name</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CustomerName)</dd>

                        <dt class="col-sm-4">Policy Number</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.PolicyNumber)</dd>

                        <dt class="col-sm-4">Customer Address Prove</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CustomerAddProve)</dd>

                        <dt class="col-sm-4">Customer Phone Number</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CustomerPhoneNumber)</dd>

                        <dt class="col-sm-4">Bill No</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.BillNo)</dd>

                        <dt class="col-sm-4">Vehicle Name</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.VehicleName)</dd>

                        <dt class="col-sm-4">Vehicle Model</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.VehicleModel)</dd>

                        <dt class="col-sm-4">Vehicle Rate</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.VehicleRate)</dd>

                        <dt class="col-sm-4">Vehicle Body Number</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.VehicleBodyNumber)</dd>

                        <dt class="col-sm-4">Vehicle Engine Number</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.VehicleEngineNumber)</dd>

                        <dt class="col-sm-4">Date</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Date)</dd>

                        <dt class="col-sm-4">Amount</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Amount)</dd>

                        <dt class="col-sm-4">Payment Status</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.PaymentStatus)</dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

