@model IEnumerable<Project3.Models.ClaimDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/LayoutUser/LayoutUser.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClaimNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfAccident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfAccident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuredAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaimableAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfAccident)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAccident)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuredAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimableAmount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
