@model Project3.Models.VehiclePolicyType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/System/Views/Layout/LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>VehiclePolicyType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyDetails)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PolicyTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
